body
{
	background-color: darkseagreen;
}

#h1 {

	font-family: fantasy;
}

.login_div1 , .login_div2
	{
		background: rgba(245, 245, 245, 0.644);
		padding: 10px;
		float: none;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: peachpuff;
border-radius: 10px;
border-top: 10px solid #d094f8;
padding: 10px;
float: none;
text-align: left;
}
